/.idea/
/.git/
/var/
!/var/cache/prod
/devops/
.gitignore
/.scannerwork/
.dockerignore
Dockerfile
*connector.json
*credentials.json
*connector.dist.json
sonar-project.properties
symfony.lock
.phpunit.result.cache
infra.yaml
phpstan.neon.dist
phpunit.xml
